<div class="container default-container-padding">
  <div class="section-header-container">
    <h2 class="section-header text-center">お気軽にお問い合わせください</h2>
    <h4 style="margin-top: 10px;" class="text-center">FEEL FREE TO CONTACT US</h4>
  </div>

  <div class="contact-container text-center">
    <div class="contact-item">
      <strong>ZOOM ID:</strong> melai.sebastian86@gmail.com
    </div>
    <div class="contact-item">
      <strong>QQ ID:</strong> 3042803034
    </div>
    <div class="contact-item"> 
      <strong>KAKAO ID:</strong> mel86
    </div>
    <div class="contact-item">
      <strong>Skype ID:</strong> Melanie.sebasian2
    </div>
    <div class="contact-item">
      <strong>Line ID:</strong> +639565204138
    </div>
    <div class="contact-item">
      <strong>Email:</strong> melai.sebastian86@gmail.com
    </div>
  </div>
</div>