<div class="container default-container-padding">
  <div class="section-header-container">
    <h4 style="margin-top: 10px;" class="text-center">{{ site.data.contact.contact-subtitle }}</h4>
    <h4 class="section-header text-center">{{ site.data.contact.contact-title }}</h4>
    
  </div>

  <div class="section-header-container" style="margin-top: 20px;">
    <h4 style="margin-top: 10px;" class="text-center">アナタの要望にあった先生を紹介します</h4>
    <h4 class="text-center">You can ask for more teachers!</h4>
  </div>

  <div class="contact-container text-center">
    {% for contact in site.data.contact.contact-details %}
    <div class="contact-item">
      <strong>{{ contact.contact-title }}:</strong> {{ contact.contact-info }}
    </div>
    <img src="{{ contact.qrcode }}" style="height: 200px; margin-bottom: 15px;"/>
    {% endfor %}
  </div>
</div>