<div class="container default-container-padding">
  <div class="section-header-container">
    <h2 class="section-header text-center">{{ site.data.contact.contact-title }}</h2>
    <h4 style="margin-top: 10px;" class="text-center">{{ site.data.contact.contact-subtitle }}</h4>
  </div>

  <div class="contact-container text-center">
    {% for contact in site.data.contact.contact-details %}
    <div class="contact-item">
      <strong>{{ contact.contact-title }}:</strong> {{ contact.contact-info }}
      {{ contact.qrcode }}
    </div>
    {% endfor %}
  </div>
</div>