<div class="container default-container-padding">
	<!-- <div class="section-header-container">
		<h2 class="section-header text-center">Pricing</h2>
	</div> -->
	
	<div class="pricing-wrapper d-flex flex-wrap">
		
		<div class="pricing-item col-12 col-md-6">
			<div class="pricing-item-wrapper" style="margin-top: 10px;">
				<div class="pricing-top-bar bar-plan-free"></div>

				<div class="content-padding">
					<div class="pricing-header-container header-plan-free">
						<h3 class="pricing-header d-block">{{ site.data.services.services.column1.title }}</h3>
						<span class="pricing-price d-block">{{ site.data.services.services.column1.subtitle }}</span>
						<span class="pricing-trial d-block">{{ site.data.services.services.column1.sub-text }}</span>
					</div>

					<hr class="divider"/>

					<div class="pricing-content-container">
						<ul class="feature-plan-free">
							{% for item in site.data.services.services.column1.features %}
							<li class="feature-list">
								<span class="feature-title d-inline-block">{{ item.item }}</span> 
							</li>
							{% endfor %}
						</ul>

						<div class="paypal-icon">
							<span class="pricing-trial d-block">{{ site.data.services.services.column1.bottom-text }}</span>
							<img style="width: 80%;" class="img-fluid center-block" src="{{ site.data.services.services.column1.bottom-logo }}" /> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="pricing-item col-12 col-md-6">
			<div class="pricing-item-wrapper" style="margin-top: 10px;">
				<div class="pricing-top-bar bar-plan-free"></div>

				<div class="content-padding">
					<div class="pricing-header-container header-plan-free">
						<h3 class="pricing-header d-block">{{ site.data.services.services.column2.title }}</h3>
						<span class="pricing-price d-block">{{ site.data.services.services.column2.subtitle }}</span>						
					</div>

					<hr class="divider"/>

					<div class="pricing-content-container">
						<ul class="feature-plan-free">
							{% for item in site.data.services.services.column2.features %}
							<li class="feature-list">
								<span class="feature-icon fa fa-check"></span>
								<span class="feature-title">{{ item.item }}</span> 
							</li>
							{% endfor %}
						</ul>

						<span class="pricing-trial d-block">{{ site.data.services.services.column2.bottom-text }}</span>

					</div>

					
				</div>
			</div>
		</div>

	</div>
</div>