<div class="container default-container-padding">
  <div class="section-header-container">
		<h2 class="section-header text-center">私たちはクラスを行います</h2>
  </div>
  
  <div class="logo-container">
    <div class="row">
      {% for logo in site.data.services.logo-list %}
      <div class="logo-list col-sm-4 col-12">
        <img src="{{ logo.logo }}" class="logo-image img-fluid center-block d-block"/>
        <span class="logo-title d-block text-center">{{ logo.title }}</span>
      </div>
      {% endfor %}
    </div>
  </div>

</div>