<div class="container default-container-padding">
  <div class="section-header-container">
		<h2 class="section-header text-center">幸せな学生</h2>
	</div>

  <div class="gallery-container">
    <div class="row">
      <div class="col-3 gallery-list">
        <img src="/img/student/student1.jpg" class="img-fluid d-block center-block"/>
      </div>
      <div class="col-3 gallery-list">
        <img src="/img/student/student2.jpg" class="img-fluid d-block center-block"/>
      </div>
      <div class="col-3 gallery-list">
        <img src="/img/student/student3.jpg" class="img-fluid d-block center-block"/>
      </div>
      <div class="col-3 gallery-list">
        <img src="/img/student/student4.jpg" class="img-fluid d-block center-block"/>
      </div>
    </div>
  </div>
</div>

<div class="container default-container-padding">
  <div class="section-header-container">
		<h2 class="section-header text-center">あなたの英語の先生</h2>
  </div>
  
  <div class="row">
    {% for teacher in site.data.teacher %}
    <div class="col-12 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{{ teacher.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ teacher.name }}</h5>
          <p class="card-text">{{ teacher.tagline }}</p>
          <a href="{{ teacher.resume }}" target="_blank" class="btn btn-primary">View Teacher Info</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>